@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import '@skeletonlabs/skeleton-svelte';